# OpenRouter Configuration (for chat/LLM)
OPENROUTER_API_KEY=your_openrouter_api_key_here
OPENROUTER_HTTP_REFERER=http://localhost:3000
OPENROUTER_X_TITLE=Song-Recommender

LANGSMITH_API_KEY=your_langsmith_api_key_here
LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT=04-song-highlights

DATABASE_URL=your_database_uri_here
AUTH_API_BASE_URL=https://scacademiaapi-b8c5aaabd8a3.herokuapp.com

JWT_SECRET=your_jwt_secret_here
JWT_ACCESS_EXPIRES=3600
JWT_REFRESH_EXPIRES=604800

LLM_MODEL=model llm
LLM_TEMPERATURE=temperature for llm
MAX_MESSAGES_TO_SUMMARY=number of messages to summary in memory